{% extends "base.html" %}
{% block title %}Поиск маршрута{% endblock title %}

{% block content %}
    <h1>Поиск маршрута</h1>
    <div class="row">
        <div class="col-md-8 mx-auto">
            {% if routes %}
                <h3>Маршрут{% if routes|length != 1 %}ы{% endif %} из г. {{ cities.from_city }}
                    в. г {{ cities.to_city }}</h3>
                <br>
                {% for route in routes %}
                    {% if forloop.first %}<h5>Самый которкий маршрут</h5>{% endif %}
                    <h5>Время в пути {{ route.total_time }}</h5>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Список поездов по этому маршруту</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for train in route.trains %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ train.title }} из г. {{ train.from_city.title }} в г. {{ train.to_city.title }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <br><br>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    {% url 'routes:find_routes' as action %}
    {% include "form.html" with action=action button='Найти' btn='btn-primary' %}
{% endblock content %}